.button{
    background-color: rgb(51, 77, 100);
    border-radius: 8px;
    width: 160px;
    color: white;
    text-align: center;
}
.button>h3{
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
@media (max-width:426px) {
    .button>h3{
      font-size: 10px;
      font-weight: 400;
      margin: 4px 0px;
    }
    .button{
      width: auto;
      padding: 4px;
    }
  }
@media (max-width:768px) {
    .button>h3{
     font-size: 14px;
     font-weight: 500;
     margin: 4px 0px;
    }
    .button{
      width: 120px;
      padding: 6px;
    }
}