.app {
  overflow-x: hidden;
  width: 100%;
  
}
*::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }