
.footer-container {
    background-color: #eaf8ff;
    color: #303030;
    padding: 40px 20px;
  }
  
  .topppp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .bottommmm{
    display:  flex;
    justify-content: space-between;
  }
  .connect-logos>img {
    width: 30px;
    padding: 4px;
    
  }
  .left>img {
    width: 350px; 
  }
  .grid-1,.grid-2,.grid-3, .grid-4, .grid-5{
    width: 20%;
    text-align: center;
  }
  .ijsdbq {
    width: 120px;
  }
  .dhviuyfe{
    font-size: 14px;
    color: #6c6b6b;
  }
  .headringd{
    color:rgb(38, 128, 148);
  }
  .subscribed {
    max-width: 500px; 
    text-align: center;
  }
  
  .note {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .note3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .format {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 4px;
  }
  
  .text-field {
    padding: 10px;
    margin-right: 10px;
    width: 350px;
    outline: none;
    border-radius: 8px;
    border: none; 
  }
  input:active{
    border: none;
  }
  
  
  